Olá, <strong>{{username}}</strong>
<p>Realize a confirmação do seu e-mail clicando neste <a href="{{url}}" > link </a> até <strong>{{expiration}}</strong></p>

<small>
  Após esta data, esta validação deverá ser solicitada novamente no aplicativo.
</small>


