#APP CONFIG
APP_PORT=
APP_URL=
#MySql Database
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASS=
MYSQL_DATABASENAME=

#REDIS CONFIG
REDIS_HOST=localhost
REDIS_PORT=6379

#MAIL CONFIG
fakeMAIL_HOST=smtp.mailtrap.io
fakeMAIL_PORT=2525
fakeMAIL_USER=775663d4741ea7
fakeMAIL_PASS=2e5cce62e1dd70

MAIL_HOST=mail.nafeijuca.com.br
MAIL_PORT=25
MAIL_USER=nao-responda@nafeijuca.com.br
MAIL_PASS=noreply#feijuca
MAIL_FAKE=edilson.a.andrade@gmail.com

#APP_KEY
APP_SECRET=5ee544e495f5573ed9fb44fe496d6cc7